body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 36px;
    color: #333;
}

.upload-section {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.file-upload-text {
    font-size: 16px;
    color: #333;
    margin: 0;
}

.file-label {
    cursor: pointer;
}

.file-button {
    background-color: #2765FF;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
}

.file-name {
    font-style: italic;
    color: #333;
    font-size: 14px;
}

th {
    background-color: #f0f0f0;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #2765FF;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #373737;
    padding: 10px;
    text-align: left;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border: 3px solid #2765FF;
}

.modal h3 {
    margin-top: 0;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.modal p {
    font-size: 16px;
    color: #333;
}

.info {
    margin-top: 20px;
}

.info button {
    padding: 10px 20px;
    border: none;
    background-color: #2765FF;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.buttons {
    display: flex;
    gap: 15px;
    position: relative;
    top: -90px;
    justify-content: flex-end;
}

.normal {
    color: green;
}

.anomaly {
    color: red;
}

.missing {
    color: orange;
}