body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

.upload-section {
    text-align: center;
    margin: 20px;
}

.file-upload-text {
    font-size: 16px;
    margin-bottom: 5px;
}

.file-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
}

.file-name {
    margin-top: 10px;
    font-style: italic;
    color: #555;
}

.buttons {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin: 10px;
}

button[type="submit"] {
    background-color: #28a745;
    color: white;
}

.reset-button {
    background-color: #ffc107;
    color: white;
}

p {
    text-align: center;
}

.error {
    color: red;
    font-weight: bold;
}

/* Стиль для результатов */
.results {
    margin-top: 40px;
    padding: 0 30px;
}

.result-table-container {
    margin: 20px auto;
    padding: 0 30px;
    width: 100%;
    box-sizing: border-box;
}

.result-table-container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.result-table-container th,
.result-table-container td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.result-table-container th {
    background-color: #f2f2f2;
}

.anomaly {
    color: red;
    font-weight: bold;
}

.normal {
    color: green;
}

.missing {
    color: orange;
}

.info {
    margin-top: 40px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-left: 30px;
    margin-right: 30px;
}

.info strong {
    font-size: 18px;
}

.info ul {
    list-style-type: none;
    padding-left: 0;
}

.info ul li {
    font-size: 16px;
    margin-bottom: 5px;
}

button {
    display: block;
    margin: 20px auto;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 60px;
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border-radius: 4px;
    width: 80%;
    max-width: 500px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.info ul li span {
    font-weight: bold;
}
